body{
  overflow: scroll;
}

.title {
    padding-top: 5%;
    float: left;
}

.slogan {
    padding-top: 5%;
    float: right;
}

#break-line {
    margin: 80px;
    margin-bottom: 40px
}

.card {
    margin-right: 2%;
    margin-bottom: 2%;
}

.img-holder {
    padding-top:8%
}

.pageination-holder{
    margin-bottom: 100px;
}

#foot {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
.footer-item {
    float: left;
  }
  
.footer-anchor {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  

.card-desc {
  display: block;
  font-size: 1.2rem;
  position: absolute;
  height: 0;
  top: 0;
  opacity: 0;
  padding: 18px 8%;
  background-color: white;
  overflow-y: scroll;
  transition: 0.8s ease;
}
  
.card:hover .card-desc {
  opacity: 1;
  height: 100%;
}