body{
  overflow: scroll;
}

.title {
    max-height: 200px;
    max-width: 200px;
    padding-top: 5%;
    float: left;
}

.slogan {
    padding-top: 5%;
    float: right;
}

#break-line {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: medium double black;
  color: black;
  opacity: 100;
  text-align: center;
}
#break-line:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}

.card {
    margin-right: 2%;
    margin-bottom: 2%;
}

.img-holder {
    padding-top:8%
}


.card-desc {
  display: block;
  font-size: 1.2rem;
  position: absolute;
  height: 0;
  top: 0;
  opacity: 0;
  padding: 18px 8%;
  background-color: white;
  overflow-y: scroll;
  transition: 0.8s ease;
}
  
.card:hover .card-desc {
  opacity: 1;
  height: 100%;
}

.pageination-holder{
  margin-bottom: 100px;
}

#foot {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

#footer-container{
margin-left:0px;
margin-right:0px;
text-align: center;
}

.footer-item {
  display: inline-block;
  text-align: left;
}

.footer-anchor {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.bubble {
  position: relative;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 24px;
  width: 300px;
  background: #fff;
  border-radius: 40px;
  padding: 24px;
  text-align: center;
  color: #faf7f7;
  background: #566069;
}

.bubble-bottom-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 24px solid #566069;
  border-right: 15px solid transparent;
  border-top: 5px solid #566069;
  border-bottom: 20px solid transparent;
  left: 32px;
  bottom: -24px;
  background: #fff;
}
