@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
body{
  overflow-y: scroll;
}

#top-container{
  border-color: #00000000;
  background-color: rgba(255, 0, 0, 0);
  background-position: center;
  background-image: url('https://res.cloudinary.com/duijsqmts/image/upload/ar_16:9,c_crop,e_sharpen,g_auto,h_151,w_800,x_0,y_0/v1676458845/crowds-enjoying-themselves-outdoor-music-festival-having-fun-39235366_xiq8uc.jpg');
  background-repeat: no-repeat;
}

.title {
    max-height: 200px;
    max-width: 200px;
    padding-top: 2.5%;
    float: left;
}
.title:hover {
  scale: 1.2;
}
@media (max-width:420px){
  #top-container{
    width: 100%;
  }
  .title {
    height: 100px;
    width: 100px;
  }
}


.slogan {
    padding-top: 3%;
    float: right;
}

#break-line {
  overflow: visible;
  padding: 0;
  border: none;
  border-top: medium double rgb(95, 7, 112);
  color: rgb(105, 6, 84);
  opacity: 100;
  text-align: center;
}


#page-title{
  font-family: 'Anton', sans-serif;
  margin-top: 3%;
  margin-bottom: 5%;
}

.card {
    background-color: #00000000;
    margin-right: 2%;
    margin-bottom: 2%;
}
.card:before, .card:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #e95670, #b34270, #713770,#432f70, #4f4f4f, #72277c, 
		#5f093d, #b21368,#d67ba8, #727272);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
  filter: blur(50px);
	animation: steam 20s linear infinite;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.card:after {
	filter: blur(50px);
}

.img-holder {
    padding-top:8%
}

.card-title {
  font-family: 'Anton', sans-serif;
}

.card-desc {
  display: block;
  font-size: 1.2rem;
  position: absolute;
  height: 0;
  top: 0;
  opacity: 0;
  padding: 18px 8%;
  background-color: white;
  overflow-y: scroll;
  transition: 0.8s ease;
}
  
.card:hover .card-desc {
  opacity: 1;
  height: 100%;
}

.card-style {
  background-color: #d978e6;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #222222;
  display: flex;
  font-family: 'Anton', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  justify-content: center;
  line-height: 1.75rem;
  padding: 0;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  width: 100%;
  max-width: 700px;
  min-width: 250px;
  max-height: 500px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

@media (max-width:1023px) {
  .card-style{
    min-width: 200px;
    max-height: 350px;
    overflow-y: scroll;

  }
  .tag-list{
    padding: 0%;
  }
}


.pageination-holder{
  margin-bottom: 100px;
}

#foot {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4b03557e;
}

#footer-container{
margin-left:0px;
margin-right:0px;
text-align: center;
}

.footer-item {
  display: inline-block;
  text-align: left;
}

.footer-anchor {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.footer-anchor:hover {
  scale:1.3;
  color: #e95670;
}

.conversation-start {
  color:#faf7f7;
	height: 100px;
	width: 40%;
	min-width: 200px;
	background: #566069;
	display: block;
	margin: 0 auto;
	border-radius: 20px;
	margin-top: 50px;
	font-size: 200px;
	text-align: center;
}

.comment {
  margin-bottom: 25px;
}

.speech-bubble {
  position: relative;

  padding: 1em;
  margin-bottom: 20px;
  border-radius: .25em;
  transform: rotate(-4deg) rotateY(15deg);
  background: #d978e6;
  border-style: solid;
  border-color: #222222;
  font-family: 'Anton', sans-serif;
  text-align: center;
}
.speech-bubble:before, .speech-bubble:after {
  position: absolute;
  z-index: -1;
  content: '';
}
.speech-bubble:after {
  top: 0; right: 0; bottom: 0; left: 0;
  border-radius: inherit;
  border-style: solid;
  border-color: #222222;
  transform: rotate(2deg) translate(.35em, -.15em) scale(1.02);
  background: #f4fbfe;
}

.button-style {
  margin-top: 5px;
  background-color: #d978e6;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #222222;
  display: flex;
  font-family: 'Anton', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-style:focus {
  outline: 0;
}

.button-style:after {
  content: '';
  text-decoration: none #000000 solid;
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button-style:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .button-style {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}

#about-article {
  margin-bottom: 10%;
}
#pagination-text {
  font-family: 'Anton', sans-serif;
}