{% extends "base.html" %}
<!--Header specific for this room-->
{% block header %}
    <div class="col" style="margin-top:3%">
        <h1 id="page-title">About</h1>
    </div>
{% endblock %}
{% block cards %}
<!--A simple container and article to hold basic information-->
<div class="container text-center">
    <div id="card-row" class="row row-col-3 justify-content-md-center">
        <article id="about-article">
            <h2>Welcome to The festival Ground</h2>
            <p>
                The festival ground is a community forum, we wanted to create a space that allows people from all over the world to come together and discuss their love of music!
                Here you can create your own Rooms to discuss any topics you would like, or search the variety of other Rooms created by the community and join their discussions.
            </p>
            <h2>how does it all work?</h2>
            <p>
                Once you have created your free account you will be free to join in any of the numerous rooms and join the conversations there. Or if you have something you would like to discuss you can create your own room.
                Select the 'Create' button and you will be prompted to build your room. You may name this anything you like, though be aware titles must be unique. You may provide a brief description of your room
                in order to help users know what topics you are going to be discussing you may also add any number of 'tags' to help with this aswell.
            </p>
            <p>
                When creating a room you have the option to set the room as either 'Public' or 'Private'. A public room can be viewed by anyone, a private room can only be viewed by you and any members of that room.
                This can be changed at any time when editing the room.
            </p>
            <p>
                Once you are in a room you can start a conversation, or join an ongoing one. To start your own conversation simply select 'Start a conversation' and follow the form to begin. 
                Once the conversation has been started any members of the room can contribute to the conversation in the form of 'comments'. A room may have many conversations going at the same time,
                for this reason simply select the conversation title to clapse the thread and you can focus on the conversation you are looking for. 
            </p>
            <h2>Editing</h2>
            <p>
                As a room creator you have the ability to edit everything about your own room. You may edit the room title, description, tags etc...
                The conversations can be edited as well as all member comments. Further more you have the ability to delete any comments, conversations and the room as a whole if you see fit.
                <strong>Important Note:</strong> As a room creator you may also remove unwanted members from your room.  
            </p>
            <p>
                You dont have to be room creator to edit. As a user any conversations you have started in other rooms are yours to edit and delete, as well as any comments you have left.
            </p>
            <h3>A final thank you</h3>
            <p>
                We all hope you enjoy your time here, Welcome to the Festival Grounds!
            </p>
        </article>
    </div>
</div>
{% endblock %}