{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="The Festival Grounds" content="A music based community forum" />
    <!--internal and external links such as my css, bootstrap and jquery-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/bbfccb4c46.js" crossorigin="anonymous"></script>
    <title>The Festival Ground</title>
</head>
<body>
    <!--Simple logo that acts as a link to the home page and a cover image-->
    <div id="top-container" class="container text-center card">
        <div id="line-break" class="row">
          <div class="col">
            <a href="{% url 'home' %}"><img class="title" src="https://res.cloudinary.com/duijsqmts/image/upload/v1677150339/the-festival-ground-low-resolution-logo-color-on-transparent-background_2_wx4kis.png"></a>
          </div>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col">
            <hr id="break-line">
        </div>
    </div>
    <!--internal navigation links, changes upon user authentifaction-->
    {% block nav %}
    <div id="second-container" class="container text-center">
        <nav>
            <div class="row gy-5">
                {% if user.is_authenticated %}
                <div class="col-4">
                    <button type="button" class="button-style" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">Create</button>
                </div>
                <div class="col-4">
                    <a class="naviagtion" href="{% url 'account_logout' %}">
                        <button type="button" class="button-style">Logout</button>
                    </a>
                </div>
                <div class="col-4">
                    <a class="naviagtion" href="{% url 'your_home' %}">
                        <button type="button" class="button-style">Your Rooms</button>
                    </a>
                </div>
                {% else %}
                <div class="col-4">
                    <a class="naviagtion" href="{% url 'account_signup' %}">
                        <button type="button" class="button-style">Register</button>
                    </a>
                </div>
                <div class="col-4">
                    <a class="naviagtion" href="{% url 'account_login' %}">
                        <button type="button" class="button-style">Login</button>
                    </a>
                </div>
                <div class="col-4">
                    <a class="naviagtion" href="{% url 'about' %}">
                        <button type="button" class="button-style">About</button>
                    </a>
                </div>
                {% endif %}
            </div>
        </nav>
        <!--Header that is defined in individual pages-->
        {% block header %}
        {% endblock %}
    {% endblock %}
    <!--A div to contain a message that will alert upon an unautherised user trying to join a room.-->
    <div id="liveAlertNotUser"></div>
     <!--A container that will produce an alert upon an autherised user interacting with the site in various ways.-->
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    {% for message in messages %}
                    <div class="alert alert-dismissible fade show alert-success button-style" style="background-color: #3ab609" id="msg" role="alert">
                        {{message | safe}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                        </button>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!--The room cards will be contained here-->
    {% block cards %}
    {% endblock %}
    {% block search %}
    {% endblock %}
    <!--This side canvas is triggered by the create button and holds the form a user would use to create a room-->
    {% block canvas %}
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">Create a Room</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <form method="POST" enctype="multipart/form-data">
                {{ form | crispy }}
                {% csrf_token %}
                <div>
                    <p>
                        <button class="button-style" type="submit">add Room</button>
                    </p>
                </div>
            </form>
        </div>
    </div>
    {% endblock %}
    <!--The pagination block that is presnt in the index and your_rooms-->
    {% block pagination %}
    {% endblock %}
    <!--The Footer present in all pages that holds all the social account links and shows when you are logged in-->
    <footer class="fixed-bottom" style="background-color:grey">
        <div id="footer-container">
            <ul id="foot">
                <li class="footer-item"><a class="footer-anchor" href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                <li class="footer-item"><a class="footer-anchor" href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                <li class="footer-item"><a class="footer-anchor" href="https://twitter.com/?lang=en" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                <li class="footer-item"><a class="footer-anchor" href="https://www.twitch.tv/" target="_blank"><i class="fa-brands fa-twitch"></i></a></li>
                <li class="footer-item"><a class="footer-anchor" href="https://discord.com/" target="_blank"><i class="fa-brands fa-discord"></i></a></li>
                {% if user.is_authenticated %}
                <li class="footer-item"><h6 style="color:aliceblue">Logged in as: {{ user.username }}</h6></li>
                <li class="footer-item" hidden><h6 id="user-id-num">{{ user.id }}</h6></li>
                {% endif %}
            </ul>
        </div>
    </footer>
    <!--Javascript links-->
    <script src="{% static 'javascript/script.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>