{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block nav %}
    <div id="second-container" class="container text-center">
        <nav>
            <div class="row gy-5">
                <div class="col-6">
                    <a href="{% url 'account_logout' %}">
                        <button type="button" class="button-style">Logout</button>
                    </a>
                </div>
                <div class="col-6">
                    <a href="{% url 'your_home' %}">
                        <button type="button" class="button-style">Your Rooms</button>
                    </a>
                </div>
            </div>
        </nav>
    </div>
{% endblock %}
{% block cards %}
<div id="liveAlertComment"></div>
<form method="POST">
    {{ form | crispy }}
    {% csrf_token %}
    <div>
        <p>
            <button type="submit" class="button-style" style="background-color: #739deb">Edit Comment</button>
        </p>
    </div>
</form>
<button type="button" class="button-style" id="delcommentBtn" style="background-color: #e61b1b">Delete Comment</button>
<h6 id="conversationId" hidden>{{ comment.conversation }}</h6>
<h6 id="roomId" hidden>{{ comment.room }}</h6>
<h6 id="commentId" hidden>{{ comment.id }}</h6>
{% endblock %}