{% extends "base.html" %}

{% block header %}
    <div class="col" style="margin-top:3%">
        <h1>Rooms</h1>
    </div>
{% endblock %}

{% block cards %}

<div id="card-container" class="container text-center">
    <div id="card-row" class="row row-col-3 justify-content-md-center">
        {% for room in rooms_list %}
            <div data-role="test" id="card-{{ room.slug }}" class="card col-md-3" style="max-width: 540px;">
                <div class="row row-col-2">
                    <div class="col-md-6 img-holder">
                        {% if 'placeholder' in room.cover_image.url %}
                        <img src="https://res.cloudinary.com/duijsqmts/image/upload/v1674143855/51JPnYISlYL._AC_SY580__jt2bvz.jpg"
                            alt="default image" class="card-img-top">
                        {% else %}
                        <img src="{{ room.cover_image.url }}" alt="cover image" class="card-img-top">
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title">{{  room.title  }}</h5>
                            <p class="card-text">{{ room.description | safe }}</p>
                            {% if room.status == 0 %}
                            <p class="card-text"><small class="text-muted">Public</small></p>
                            {% else %}
                            <p class="card-text"><small class="text-muted">Private</small></p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-desc">
                        <h5 class="card-title">{{  room.title  }}</h5>
                        <p class="card-text">{{ room.description | safe }}</p>
                        <p class="card-text">Created by: {{ room.creator | safe }}</p>
                        <p class="card-text">{{ room.number_of_members }} Members</p>
                        <a href="{% url 'in_room' room.slug %}" class="">
                            {% if room.status == 0 %}
                                {% if user in room.members.all %}
                                <button type="submit" value="Join" name="join" class="btn btn-dark">Enter</button>
                                {% else %}
                                <button type="submit" value="Join" name="join" class="btn btn-dark">Join</button>
                                {% endif %}
                            {% else %}
                                {% if user in room.members.all %}
                                <button type="submit" value="Join" name="join" class="btn btn-dark">Enter</button>
                                {% else %}
                                <button type="submit" value="Join" name="join" class="btn btn-dark">Request</button>
                                {% endif %}
                            {% endif %}
                        </a>
                        {% if user == room.creator %}
                        <a href="#" class="">
                            <button type="submit" value="delete" name="delete" class="btn btn-dark">Delete</button>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="offcanvas offcanvas-start" id="offcanvas" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasLabel">Backdrop with scrolling</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <p>Try scrolling the rest of the page to see this option in action.</p>
    </div>
  </div>

{% endblock %}
{% block pagination %}
<div class="container text-center pageination-holder">
    <div class="row justify-content-md-center">
        <div class="pagination justify-content-md-center">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>
{% endblock %}