{% extends "base.html" %}
<!--Header specific for this room-->
{% block header %}
    <div class="col" style="margin-top:3%">
        <h1 id="page-title">Rooms</h1>
    </div>
{% endblock %}
{% block cards %}
<!--Containers hold the 'cards' that contain each created room. Bootstrap classes have been used for the layout-->
<div id="card-container" class="container text-center">
    <div id="card-row" class="row row-col-3 justify-content-md-center">
        <!--Iterate through each room in the paginated object-->
        {% for room in page_obj %}
            <div data-role="test" id="card-{{ room.slug }}" class="card col-lg-3" style="max-width: 540px;">
                <div class="row row-col-2 card-style">
                    <div class="col-md-6 img-holder">
                        <!--if the user has uploaded an image, use that otherwise use the place holder image-->
                        {% if 'placeholder' in room.cover_image.url %}
                        <img src="https://res.cloudinary.com/duijsqmts/image/upload/v1674143855/51JPnYISlYL._AC_SY580__jt2bvz.jpg"
                            alt="default image" class="card-img-top">
                        {% else %}
                        <img src="{{ room.cover_image.url }}" alt="cover image" class="card-img-top">
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title">{{  room.title  }}</h5>
                            <!--Iterate over the tags the user has selected and add them to a list-->
                            {% for tags in room.tags.all %}
                            <ul class="tag-list">
                                <li>{{ tags }}</li>
                            </ul>
                            {% endfor %}
                            <!--set public or private depending on user choice.-->
                            {% if room.status == 0 %}
                            <p class="card-text"><small class="text-muted">Public</small></p>
                            {% else %}
                            <p class="card-text"><small class="text-muted">Private</small></p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-desc">
                        <!--Show all relevant information about the room on the backsideof the card-->
                        <h5 class="card-title">{{  room.title  }}</h5>
                        <p class="card-text">{{ room.description | safe }}</p>
                        <p class="card-text">Created by: {{ room.creator | safe }}</p>
                        <p class="card-text member_count">{{ room.number_of_members }} Members</p>
                        <!--Set different words for public or private entry-->
                            {% if room.status == 0 %}
                            <!--If the user is authenticated let them join the room, if not don't allow them to join-->
                                {% if user.is_authenticated %}
                                <a href="{% url 'in_room' room.slug %}" class="">
                                    {% if user in room.members.all or user == room.creator %}
                                    <button type="submit" value="Join" name="join" class="button-style">Enter</button>
                                    {% else %}
                                    <button type="submit" value="Join" name="join" class="button-style">Join</button>
                                    {% endif %}
                                </a>
                                {% else %}
                                <button type="button" class="button-style liveAlertNotUser" id="live{{ room.slug }}Btn" style="background-color: #e61b1b">Join</button>
                                {% endif %}
                            {% else %}
                                {% if user.is_authenticated %}
                                <a href="{% url 'in_room' room.slug %}" class="">
                                    {% if user in room.members.all %}
                                    <button type="submit" value="Join" name="join" class="button-style">Enter</button>
                                    {% else %}
                                    <button type="submit" value="Join" name="join" class="button-style">Request</button>
                                    {% endif %}
                                </a>
                                {% else %}
                                <button type="button" class="button-style" id="live{{ room.slug }}Btn" style="background-color: #e61b1b">Join</button>
                                {% endif %}
                            {% endif %}
                    </div>
                </div>
            </div>
            <!--Card specific javascript to alert the user to log in/register-->
            <script>
                $('#live{{ room.slug }}Btn').click(function () {
                    NotUseralert('Please Log-in or create an account to Join Rooms', 'warning')
                    console.log('hello')
                })
            </script>
        {% endfor %}
    </div>
</div>
{% endblock %}
<!--Search button yet to be implamented-->
{% block search %}
    <div class="container text-center" style="margin-bottom: 100px;">
        <div class="row justify-content-md-center">
            <div class="col-md-2">
                <input id="room-search-input" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            </div>
            <div class="col-md-1">
                <button id="room-search" class="btn btn-outline-success" type="submit">Search</button>
            </div>
        </div>
    </div>
{% endblock %}
<!--Page pagination-->
{% block pagination %}
<div class="container text-center pageination-holder">
    <div class="row justify-content-md-center">
        <div class="pagination justify-content-md-center">
            <span class="step-links">
                 <span id="pagination-text" class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_previous %}
                <a class="button-style" href="?page=1">&laquo; first</a>
                <a class="button-style" href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                {% if page_obj.has_next %}
                <a class="button-style" href="?page={{ page_obj.next_page_number }}">next</a>
                <a class="button-style" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>
{% endblock %}