{% extends "base.html" %}

{% block nav %}
<div class="container text-center">
    <nav>
        <div class="row gy-5">
            {% if user.is_authenticated %}
            <div class="col-3">
                <a href="{% url 'add' %}">Create Room</a>
            </div>
            <div class="col-3">
                <a href="#">Start a Conversation</a>
            </div>
            <div class="col-3">
                <a href="{% url 'account_logout' %}">Logout</a>
            </div>
            <div class="col-3">
                <a href="#">Your Rooms</a>
            </div>
            {% else %}
            <div class="col-4">
                <a href="{% url 'account_signup' %}">Register</a>
            </div>
            <div class="col-4">
                <a href="{% url 'account_login' %}">Login</a>
            </div>
            <div class="col-4">
                <a href="#">About</a>
            </div>
            {% endif %}
        </div>
    </nav>
    {% block header %}
    {% endblock %}
</div>
{% endblock %}

{% block cards %}

<div id="card-container" class="container text-center">
    <div id="card-row" class="row row-col-3 justify-content-md-center">
        {% for conversation in conversation_list %}
        <h1>{{ conversation.title }}</h1>
        {% endfor %}
    </div>
</div>
<div id="card-container" class="container text-center">
    <div id="card-row" class="row row-col-3 justify-content-md-center">
        <div class="accordion" id="accordionExample">
            {% for conversation in conversation_list %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        {{ conversation.title }}
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <h4>{{ conversation.content | safe }}</h4>
                        {% for comment in comments %}
                        <p><strong>{{ comment.name }} said: </strong>{{ comment.body | safe }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        No conversations started
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>No comments</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}