{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block nav %}
<div class="container text-center">
    <nav>
        <div class="row gy-5">
            {% if user == room.creator %}
            <div class="col-3">
                <button type="button" name="edit" class="btn btn-dark" data-bs-toggle="offcanvas" data-bs-target="#convoOffcanvas" aria-controls="offcanvas">Start Conversation</button>
            </div>
            <div class="col-3">
                <button type="button" name="edit" class="btn btn-dark" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas">Edit Room</button>
            </div>
            <div class="col-3">
                <a href="{% url 'account_logout' %}">Logout</a>
            </div>
            <div class="col-3">
                <a href="{% url 'your_home' %}">Your Rooms</a>
            </div>
            {% else %}
            <div class="col-4">
                <button type="button" name="edit" class="btn btn-dark" data-bs-toggle="offcanvas" data-bs-target="#convoOffcanvas" aria-controls="offcanvas">Start Conversation</button>
            </div>
            <div class="col-4">
                <a href="{% url 'account_logout' %}">Logout</a>
            </div>
            <div class="col-4">
                <a href="{% url 'your_home' %}">Your Rooms</a>
            </div>
            {% endif %}
        </div>
    </nav>
    {% block header %}
    {% endblock %}
</div>
{% endblock %}

{% block cards %}

<div id="card-container" class="container text-center">
    <div id="card-row" class="row row-col-3 justify-content-md-center">
        <h1>{{ room.title }}</h1>
    </div>
</div>
<div id="card-container" class="container text-center">
    <div id="card-row" class="row row-col-3 justify-content-md-center">
        <div class="accordion" id="accordionExample" style="margin-bottom: 100px;">
            {% for conversation in conversation_list %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne-{{ conversation.slug }}" aria-expanded="true" aria-controls="collapseOne-{{ conversation.slug }}">
                        {{ conversation.title }} started by: {{ conversation.creator }}
                    </button>
                    {% if  user == room.creator or user == conversation.creator %}
                    <a href="{% url 'edit' conversation.id %}">
                        <button type="button" name="edit" class="btn btn-dark">Edit Conversation</button>
                    </a> 
                    {% endif %}
                </h2>
                <h6 id="{{ conversation.title }}-id">{{ conversation.id }}</h6>
                <div id="collapseOne-{{  conversation.slug  }}" class="accordion-collapse collapse show"
                    aria-labelledby="headingOne">
                    <div class="accordion-body">
                        <h4>{{ conversation.content | safe }}</h4>
                        {% for comment in comments %}
                        {% if comment.conversation == conversation %}
                        <p><strong>{{ comment.name }} said: </strong>{{ comment.body | safe }}</p>
                        {% if  user == comment.creator or user == room.creator %}
                        <a href="/delete_comment/{{ comment.id }}">
                            <button type="button" class="btn btn-danger" id="liveAlertBtn">Delete Comment</button>
                        </a>
                        <a href="{% url 'edit_comment' comment.id %}">
                            <button type="button" name="edit" class="btn btn-dark">Edit Comment</button>
                        </a> 
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        <div id="{{  conversation.slug  }}-form">
                            <button id="{{ conversation.slug }}-btnid" type="button" data-bs-toggle="offcanvas" data-bs-target="#{{ conversation.slug }}Offcanvas" aria-controls="offcanvas">Add a comment</button>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                $("#{{ conversation.slug }}-btnid").on('click', function(){
                    console.log('{{ conversation.title }}');
                    $(function() {
                        $("#id_conversation option").each(function(i){
                            console.log($(this).text() + " : " + $(this).val());
                            if($(this).text() == '{{ conversation.title }}'){
                                console.log('found it: {{ conversation.title }}')
                                $(this).attr('selected','selected')
                            }
                        });
                    });
                });
            </script>
            {% empty %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        No conversations started
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>No comments</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block canvas %}
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasLabel">Edit: {{ room.title }}</h5>
      <h6 id="roomId">{{ room.id }}</h6>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div id="liveAlertPlaceholder"></div>
        <form method="POST">
            {{ room_form | crispy }}
            {% csrf_token %}
            <div>
                <button type="submit" class="btn btn-dark">edit Room</button>
            </div>
        </form>
        <hr id="break-line">
        <div>
            {% if user == room.creator %}
            <button type="button" class="btn btn-danger" id="liveAlertBtn">Delete Room</button>
            {% endif %}
        </div>
    </div>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="convoOffcanvas" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="convoOffcanvasLabel">Backdrop with scrolling</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form method="POST">
            {{ conversation_form | crispy }}
            {% csrf_token %}
            <div>
                <p>
                    <button type="submit">Start a conversation</button>
                </p>
            </div>
        </form>
    </div>
</div>
{% for conversation in conversation_list %}
<div class="offcanvas offcanvas-start" tabindex="-1" id="{{ conversation.slug }}Offcanvas" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="{{ conversation.slug }}OffcanvasLabel">Backdrop with scrolling</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form method="POST">
            {{ comment_form | crispy }}
            {% csrf_token %}
            <div>
                <p>
                    <button type="submit">add comment to {{ conversation.title }}</button>
                </p>
            </div>
        </form>
    </div>
</div>
{% endfor %}
{% endblock %}