{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block nav %}
<div class="container text-center">
    <nav>
        <div class="row gy-5">
            {% if user.is_authenticated %}
            <div class="col-4">
                <button type="button" class="button-style" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">Create</button>
            </div>
            <div class="col-4">
                <a href="{% url 'account_logout' %}">
                    <button type="button" class="button-style">Logout</button>
                </a>
            </div>
            <div class="col-4">
                <a href="{% url 'home' %}">
                    <button type="button" class="button-style">Home</button>
                </a>
            </div>
            {% else %}
            <div class="col-4">
                <a href="{% url 'account_signup' %}">
                    <button type="button" class="button-style">Register</button>
                </a>
            </div>
            <div class="col-4">
                <a href="{% url 'account_login' %}">
                    <button type="button" class="button-style">login</button>
                </a>
            </div>
            <div class="col-4">
                <a href="#">
                    <button type="button" class="button-style">About</button>
                </a>
            </div>
            {% endif %}
        </div>
    </nav>
    {% block header %}
    <div class="col" style="margin-top:3%">
        <h1 id="page-title">Your Rooms</h1>
    </div>
{% endblock %}
</div>
{% endblock %}

{% block cards %}

<div id="card-container" class="container text-center">
    <div id="card-row" class="row row-col-3 justify-content-md-center">
        {% for room in page_obj %}
        {% if user in room.members.all %}
            <div data-role="test" id="card-{{ room.slug }}" class="card col-md-3" style="max-width: 540px;">
                <div class="row row-col-2">
                    <div class="col-md-6 img-holder">
                        {% if 'placeholder' in room.cover_image.url %}
                        <img src="https://res.cloudinary.com/duijsqmts/image/upload/v1674143855/51JPnYISlYL._AC_SY580__jt2bvz.jpg"
                            alt="default image" class="card-img-top">
                        {% else %}
                        <img src="{{ room.cover_image.url }}" alt="cover image" class="card-img-top">
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title">{{  room.title  }}</h5>
                            <p class="card-text">{{ room.description | safe }}</p>
                            {% if room.status == 0 %}
                            <p class="card-text"><small class="text-muted">Public</small></p>
                            {% else %}
                            <p class="card-text"><small class="text-muted">Private</small></p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-desc">
                        <h5 class="card-title">{{  room.title  }}</h5>
                        <p class="card-text">{{ room.description | safe }}</p>
                        <p class="card-text">Created by: {{ room.creator | safe }}</p>
                        <p class="card-text">{{ room.number_of_members }} Members</p>
                        <a href="{% url 'in_room' room.slug %}" class="">
                            <button type="submit" value="Join" name="join" class="button-style">Enter</button>
                        </a>
                        {% if user == room.creator %}
                        <a href="#" class="">
                            <button type="submit" value="delete" name="delete" class="button-style" style="background-color: #e61b1b">Delete</button>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}
{% block search %}
    <div class="container text-center" style="margin-bottom: 100px;">
        <div class="row justify-content-md-center">
            <div class="col-md-2">
                <input id="room-search-input" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            </div>
            <div class="col-md-1">
                <button id="room-search" class="btn btn-outline-success" type="submit">Search</button>
            </div>
        </div>
    </div>
{% endblock %}
{% block pagination %}
<div class="container text-center pageination-holder">
    <div class="row justify-content-md-center">
        <div class="pagination justify-content-md-center">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>
{% endblock %}