{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block nav %}
<!--Navigation-->
<div class="container text-center">
    <nav>
        <div class="row gy-5">
            <div class="col-4">
                <button type="button" class="button-style" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">Create</button>
            </div>
            <div class="col-4">
                <a class="naviagtion" href="{% url 'account_logout' %}">
                    <button type="button" class="button-style">Logout</button>
                </a>
            </div>
            <div class="col-4">
                <a class="naviagtion" href="{% url 'home' %}">
                    <button type="button" class="button-style">Home</button>
                </a>
            </div>
        </div>
    </nav>
    <!--Header specific for this room-->
    {% block header %}
    <div class="col" style="margin-top:3%">
        <h1 id="page-title">Your Rooms</h1>
    </div>
    {% endblock %}
</div>
{% endblock %}
{% block cards %}
<!--Containers hold the 'cards' that contain each created room. Bootstrap classes have been used for the layout-->
<div id="card-container" class="container text-center">
    <div id="card-row" class="row row-col-3 justify-content-md-center">
        <!--Iterate through each room in the paginated object-->
        {% for room in page_obj %}
        <!--A filter on the paginated object to only show rooms where the user is a member-->
        {% if user in room.members.all or user == room.creator %}
            <div data-role="test" id="card-{{ room.slug }}" class="card col-lg-3" style="max-width: 540px;">
                <div class="row row-col-2  card-style">
                    <div class="col-md-6 img-holder">
                        <!--if the user has uploaded an image, use that otherwise use the place holder image-->
                        {% if 'placeholder' in room.cover_image.url %}
                        <img src="https://res.cloudinary.com/duijsqmts/image/upload/v1674143855/51JPnYISlYL._AC_SY580__jt2bvz.jpg"
                            alt="default image" class="card-img-top">
                        {% else %}
                        <img src="{{ room.cover_image.url }}" alt="cover image" class="card-img-top">
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title">{{  room.title  }}</h5>
                            <!--Iterate over the tags the user has selected and add them to a list-->
                            {% for tags in room.tags.all %}
                            <ul>
                                <li>{{ tags }}</li>
                            </ul>
                            {% endfor %}
                            <!--set public or private depending on user choice.-->
                            {% if room.status == 0 %}
                            <p class="card-text"><small class="text-muted">Public</small></p>
                            {% else %}
                            <p class="card-text"><small class="text-muted">Private</small></p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-desc">
                        <!--Show all relevant information about the room on the backsideof the card-->
                        <h5 class="card-title">{{  room.title  }}</h5>
                        <p class="card-text">{{ room.description | safe }}</p>
                        <p class="card-text">Created by: {{ room.creator | safe }}</p>
                        <p class="card-text">{{ room.number_of_members }} Members</p>
                        <a class="navigation" href="{% url 'in_room' room.slug %}" class="">
                            <button type="submit" value="Join" name="join" class="button-style">Enter</button>
                        </a>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
<!--Search button yet to be implamented-->
{% block search %}
    <div class="container text-center" style="margin-bottom: 100px;">
        <div class="row justify-content-md-center">
            <!--<div class="col-md-2">
                <input id="room-search-input" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            </div>
            <div class="col-md-1">
                <button id="room-search" class="btn btn-outline-success" type="submit">Search</button>
            </div>-->
        </div>
    </div>
{% endblock %}
<!--Page pagination-->
{% block pagination %}
<div class="container text-center pageination-holder">
    <div class="row justify-content-md-center">
        <div class="pagination justify-content-md-center">
            <span class="step-links">
                <span id="pagination-text" class="current">
                   Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
               </span>
               {% if page_obj.has_previous %}
               <a class="button-style" href="?page=1">&laquo; first</a>
               <a class="button-style" href="?page={{ page_obj.previous_page_number }}">previous</a>
               {% endif %}

               {% if page_obj.has_next %}
               <a class="button-style" href="?page={{ page_obj.next_page_number }}">next</a>
               <a class="button-style" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
               {% endif %}
           </span>
        </div>
    </div>
</div>
{% endblock %}